.left{
  clear:left;

  text-align: center;
  height:30%;
  width: 40%;
  float: left;
  background-color: yellow;
  border-radius: 5px;
  margin-bottom: 15px;
}
.right{
    margin-bottom: 15px;
  text-align: center;
  height:30%;
  width: 40%;
  float: right;
  background-color: lightskyblue;
  border-radius: 5px;
}
textarea {
  width: 90%
}
.name {
  margin-top: 15px;
  margin: 0 auto:
}
.total {
  overflow: auto;
  margin-top: 30px;
  clear:both;
  background-color: lightgreen;
  text-align: center
}
